<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.devinxutal.fmc" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/CustomButton" android:debuggable="true">
		<activity android:name=".activities.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.MagicCubeActivity"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".activities.Preferences"
			android:label="@string/preferences_title">
		</activity>
		<activity android:name=".activities.CubeDemonstratorActivity"
			android:label="@string/preferences_title">
		</activity>
		<activity android:name=".activities.InfiniteCubeActivity"
			android:label="@string/preferences_title">
		</activity>
		<activity android:name=".activities.AboutActivity"
			android:label="About Fancy Cube">
		</activity>
		<activity android:name=".activities.CubeSolverActivity"
			android:label="Cube Solver">
		</activity>
		<activity android:name=".activities.CfopViewerActivity"
			android:label="Cube Solver">
		</activity>
		<activity android:name=".activities.CubeCameraActivity"
			android:screenOrientation="landscape" android:label="Cube Camera">
		</activity>
		<activity android:name=".activities.CubeCapturingActivity"
			android:screenOrientation="portrait" android:label="Cube Camera">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="4" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
</manifest> 